<nav>
    <ul class="menu">
        <li><a routerLink="/padre" routerLinkActive="active" ariaCurrentWhenActive="page">Padre </a></li>
        <li><a routerLink="/hijo" routerLinkActive="active" ariaCurrentWhenActive="page">Hijo</a></li>
        <li><a routerLink = "/peliculas" routerLinkActive="active" ariaCurrentWhenActive="page">Peliculas</a></li>
        <li><a routerLink = "/usuarios" routerLinkActive="active" ariaCurrentWhenActive="page">Usuarios</a></li>
        <li><a routerLink="/comentarios" routerLinkActive="active" ariaCurrentWhenActive="page">Comentarios</a></li>
    </ul>
</nav>

